version: '3.7'

services:
  clickhouse01:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse01
    hostname: clickhouse01
    networks:
      - clickhouse-network
    ports:
      - "8123:8123"
      - "9101:9000"
    volumes:
      - ./clickhouse01:/etc/clickhouse-server/config.d
      - clickhouse01_data:/var/lib/clickhouse

  clickhouse02:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse02
    hostname: clickhouse02
    networks:
      - clickhouse-network
    ports:
      - "8124:8123"
      - "9102:9000"
    volumes:
      - ./clickhouse02:/etc/clickhouse-server/config.d
      - clickhouse02_data:/var/lib/clickhouse
    depends_on:
      - clickhouse01

  clickhouse03:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse03
    hostname: clickhouse03
    networks:
      - clickhouse-network
    ports:
      - "8125:8123"
      - "9103:9000"
    volumes:
      - ./clickhouse03:/etc/clickhouse-server/config.d
      - clickhouse03_data:/var/lib/clickhouse
    depends_on:
      - clickhouse01

  tabix:
    image: spoonest/clickhouse-tabix-web-client
    container_name: tabix
    networks:
      - clickhouse-network
    ports:
      - "8080:80"
    depends_on:
      - clickhouse01
      - clickhouse02
      - clickhouse03

networks:
  clickhouse-network:
    driver: bridge

volumes:
  clickhouse01_data:
  clickhouse02_data:
  clickhouse03_data: